.places-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    width: 300px;
}

.combobox-input {
    width: 100%;
    pad: 0.5rem;
}