Nav {
  background-color: white;
  border-bottom: 1px solid;
  border-color: rgb(220, 220, 220);
}

.brand {
  width: 200px;
}

.links {
  font-weight: 600;
  font-size: 18px;
}

.dropdown-toggle:after { 
  content: none
}

.item-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 14rem;
  font-weight: 600;
}
